.head-line {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.head-line svg {
  width: 430px;
}

.menus {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background-color: rgb(166, 197, 240);
}

.news-img-size {
  max-width: 100%;
  max-height: 250px;
}

.news {
  margin-top: 1em;
  border-bottom: 2px solid black;
}
.news-info {
  margin-bottom: 1em;
}
